<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.ofe.minimalplugin" version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Minimal Plugin</name>
    <description>Minimal Cordova plugin example</description>
    <license>MIT</license>

    <!-- JS bridge -->
    <js-module src="www/minimal.js" name="Minimal">
        <clobbers target="Legic" />
    </js-module>

    <!-- ANDROID -->
    <platform name="android">
        <source-file src="src/android/MinimalPlugin.java" target-dir="src/com/ofe/minimalplugin" />
    </platform>

    <!-- iOS -->
    <platform name="ios">
        <header-file src="src/ios/MinimalPlugin.h" />
        <source-file src="src/ios/MinimalPlugin.m" />
    </platform>

</plugin>
